server {
  listen 80;
  client_max_body_size 30M;

  location / {
    resolver 127.0.0.11 valid=30s;
    
    proxy_pass http://backend:${BACKEND_PORT};
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Host $server_name;
		proxy_set_header X-Forwarded-Proto https;

    access_log off;
  }
}